{{#link-to "index" class="mdl-layout-title"}}
  {{#if titleImage}}
    <img class="android-logo-image" src="{{titleImage}}">
  {{else}}
    {{title}}
  {{/if}}
{{/link-to}}
<nav class="mdl-navigation">
  {{#each navLinks as |link|}}
    {{#if link.href}}
      <a class="{{navLinkClass}}" href="{{link.href}}">{{link.text}}</a>
    {{else if (and link.path link.model)}}
      {{#link-to link.path link.model class=navLinkClass}}
        {{or link.text (capitalize link.path)}}
      {{/link-to}}
    {{else}}
      {{#link-to link.path class=navLinkClass}}
        {{or link.text (capitalize link.path)}}
      {{/link-to}}
    {{/if}}
  {{else}}
    You Forgot Your Links!
  {{/each}}
  
  {{yield}}

  {{#if footLinks}}
    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Footer Links</span>
    {{#each footLinks as |link|}}
      {{#if link.href}}
        <a class="{{footLinkClass}}" href="{{link.href}}">{{link.text}}</a>
      {{else if (and link.path link.model)}}
        {{#link-to link.path link.model class=footLinkClass}}
          {{or link.text (capitalize link.path)}}
        {{/link-to}}
      {{else}}
        {{#link-to link.path class=footLinkClass}}
          {{or link.text (capitalize link.path)}}
        {{/link-to}}
      {{/if}}
    {{/each}}
  {{/if}}
</nav>
