{{#website-layout title="Pisource SimWMS"
  navLinks=(append
    (hash path="terms")
    (hash path="privacy")
    (hash href="https://warehouse.pagefrontapp.com" text="Log In")
    (hash href="https://warehouse.pagefrontapp.com/register" text="Sign Up"))
  footLinks=(append
    (hash path="assets")
    (hash href="http://www.getmdl.io/templates/android-dot-com/index.html" text="Template Source"))
  as |layout|}}
  {{outlet}}
{{/website-layout}}
