{{#website-features title="Features Cards with Call to Action"}}
  {{#website-feature-card src="assets/images/more-from-1.png" title="Using the CTA" as |yields|}}
    {{#yields.cta}}
      {{#link-to "assets" class=yields.ctaClass}}
        Back to Assets Index
      {{/link-to}}
    {{/yields.cta}}
    Made specifically for warehouse truck, inventory, and appointment management
  {{/website-feature-card}}
{{/website-features}}