{{#website-docs 
  anchor="assets"
  sections=(append
    (hash 
      name="Getting Started" 
      links=(append
        (hash path="index" text="Quick Start")
        (hash path="requirements" text="Dependencies")))
    (hash
      name="Components"
      links=(append
        (hash path="layout" text="Website Layout")
        (hash path="hero" text="Page Hero")
        (hash path="features" text="Feature Cards")
        (hash path="docs" text="Documentation")
        (hash path="fineprint" text="Fine Print"))))}}
  {{outlet}}
{{/website-docs}}