{{#website-features title="Modern features for a traditional industry"}}
  {{#website-feature-card src="assets/images/more-from-1.png" title="Warehouse Specific"}}
    Made specifically for warehouse truck, inventory, and appointment management
  {{/website-feature-card}}
  {{#website-feature-card src="assets/images/more-from-2.png" title="Cloud Based and Distributed"}}
    Your warehouse data is stored in the cloud, allowing it to be accessible anywhere on any machine
  {{/website-feature-card}}
  {{#website-feature-card src="assets/images/more-from-3.png" title="Built for Teams"}}
    Built to leverage the latest Javascript and WebSocket technologies to allow real-time team collaboration
  {{/website-feature-card}}
  {{#website-feature-card src="assets/images/more-from-4.png" title="Extensible and Programmable"}}
    Our platform exposes a set of jsonapi endpoints to interface with whatever system you may have.
  {{/website-feature-card}}
{{/website-features}}