{{#website-hero as |hero|}}
  {{#hero.title}}Warehouse Management Made Simple{{/hero.title}}
  {{#hero.subtitle}}Distributed cloud based management software for the modern warehouse{{/hero.subtitle}}
  <a class={{hero.ctaClass}} href="https://warehouse.pagefrontapp.com/register">
    Sign Up
  </a>
{{/website-hero}}