{{#website-fineprint}}
  {{website-privacy-policy
    companyName="Pisource Inc."
    serviceName="SimWMS Warehouse Service"
    lastUpdated="April 6, 2016"
    ageReq=18
    companyNation="United States"}}
{{/website-fineprint}}