{{#website-fineprint}}
  {{website-terms-of-service
    companyName="Pisource Inc."
    serviceName="SimWMS Warehouse Service"
    lastUpdated="April 6, 2016"
    ageReq=18
    governingBody="California, United States"}}
{{/website-fineprint}}