<p>The fine print component is just a basic container.</p>

<p>The terms-of-service component and privacy-policy component provides macros for spilling bs legalities</p>

{{code-snippet name="-terms.hbs"}}

{{code-snippet name="-privacy.hbs"}}

<p>Note to self: probably write in a section on DMCA safe-harbours or whatever in the future</p>