<p>The features some cheesy tagline and a cta</p>

{{code-snippet name="-hero.hbs"}}

<blockquote>Note: the cta href is passed to the hero elmenet, but the text is passed in the cta named yield. Go figure</blockquote>