<p>Find this project on either github or gitlab and install the usual way</p>

<a href="https://github.com/pisource/simwms" class="mdl-button">
  {{fa-icon "github"}} Github
</a>

<a href="https://gitlab.com/pisource/simwms" class="mdl-button">
  {{fa-icon "exclamation-circle"}} Gitlab
</a>

<h4>Example</h4>
<p>This site itself is built using this addon, so you're in the actual example!</p>