<div class="mdl-card__media">
  {{#if src}}
    <img src="{{src}}">
  {{else if icon}}
    <i class="material-icons">{{icon}}</i>
  {{/if}}
</div>
<div class="mdl-card__title">
   <h4 class="mdl-card__title-text">{{title}}</h4>
</div>
<div class="mdl-card__supporting-text">
  <span class="mdl-typography--font-light mdl-typography--subhead">
    {{yield (hash
      cta=(component "block-for" "cta")
      ctaClass="android-link mdl-button mdl-js-button mdl-typography--text-uppercase"
    )}}
  </span>
</div>
{{#if cta}}
  <div class="mdl-card__actions">
    {{named-yield "cta"}}
  </div>
{{/if}}