<div class="mdl-layout__header-row">
  {{#link-to "index" class="android-title mdl-layout-title"}}
    {{#if titleImage}}
      <img class="android-logo-image" src="{{titleImage}}">
    {{else}}
      {{title}}
    {{/if}}
  {{/link-to}}

  <!-- Add spacer, to align navigation to the right in desktop -->
  <div class="android-header-spacer mdl-layout-spacer"></div>
  <div role="button" tabindex="0" class="android-topnav__drawer-button" {{action toggleMenu}}>
    <i class="material-icons">menu</i>
  </div>
  {{#if searchBar}}
    <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search-field">
      </div>
    </div>
  {{/if}}
  <!-- Navigation -->
  <div class="android-navigation-container">
    <nav class="android-navigation mdl-navigation">
      {{#each links as |link|}}
        {{#if link.href}}
          <a class="{{navLinkClass}}" href="{{link.href}}">{{link.text}}</a>
        {{else if (and link.path link.model)}}
          {{#link-to link.path link.model class=navLinkClass}}
            {{or link.text (capitalize link.path)}}
          {{/link-to}}
        {{else}}
          {{#link-to link.path class=navLinkClass}}
            {{or link.text (capitalize link.path)}}
          {{/link-to}}
        {{/if}}
      {{else}}
        You Forgot Your Links!
      {{/each}}
    </nav>
  </div>
  {{#link-to "index" class="android-mobile-title mdl-layout-title"}}
    {{#if titleImage}}
      <img class="android-logo-image" src="{{titleImage}}">
    {{else}}
      {{title}}
    {{/if}}
  {{/link-to}}
  {{#if moreLinks}}
    <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
      <li class="mdl-menu__item">5.0 Lollipop</li>
      <li class="mdl-menu__item">4.4 KitKat</li>
      <li disabled class="mdl-menu__item">4.3 Jelly Bean</li>
      <li class="mdl-menu__item">Android History</li>
    </ul>
  {{/if}}
  {{yield moreBtnClass}}
</div>
