<div class="mdl-mega-footer--top-section">
  <div class="mdl-mega-footer--left-section">
    <a href="https://github.com/pisources/pisources.github.io" class="mdl-mega-footer--social-btn">
      {{fa-icon "github"}}
    </a>
  </div>
  <div class="mdl-mega-footer--right-section">
  </div>
</div>
<div class="mdl-mega-footer--middle-section">
  <p class="mdl-typography--font-light">Made with ♥ in {{placeOfCreation}}</p>
  <p class="mdl-typography--font-light">Some features and devices may not be available in all areas</p>
</div>
<div class="mdl-mega-footer--bottom-section">
  {{#each links as |link|}}
    {{#if link.href}}
      <a class="{{footLinkClass}}" href="{{link.href}}">{{link.text}}</a>
    {{else if (and link.path link.model)}}
      {{#link-to link.path link.model class=footLinkClass}}
        {{or link.text (capitalize link.path)}}
      {{/link-to}}
    {{else}}
      {{#link-to link.path class=footLinkClass}}
        {{or link.text (capitalize link.path)}}
      {{/link-to}}
    {{/if}}
  {{else}}
    You Forgot Your Links!
  {{/each}}
</div>
{{yield}}
