<div class="mdl-grid website-docs__components">
  <aside class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--6-col-phone website-docs__nav">
    {{#each sections as |section|}}
      <h4 class="{{menuLegendClass}}">{{section.name}}</h4>
      {{#each section.links as |link|}}
        {{#link-to (concat anchor "." link.path) class=menuItemClass}}
          {{or link.text (capitalize link.path)}}
        {{/link-to}}
      {{/each}}
    {{/each}}
  </aside>
  <main class="mdl-cell mdl-cell--9-col mdl-cell--8-col-tablet mdl-cell--6-col-phone website-docs__pages">
    <div class="website-docs__page-header">
      <h3>{{or activeLink.text (capitalize activeLink.path)}}</h3>
    </div>
    {{yield}}
  </main>
</div>
