<a name="top"></a>
<div class="android-be-together-section mdl-typography--text-center">
  {{#unless noSlogan}}
    <div class="logo-font android-slogan">{{named-yield "title"}}</div>
  {{/unless}}
  {{#unless noSubSlogan}}
    <div class="logo-font android-sub-slogan">{{named-yield "subtitle"}}</div>
  {{/unless}}
  <div class="logo-font {{unless noCta "android-create-character"}}">
    {{yield (hash
      title=(component "block-for" "title")
      subtitle=(component "block-for" "subtitle")
      ctaClass=ctaClass
    )}}
  </div>
</div>
