.website-docs {
  color: #626262;
}

.website-docs__nav {
  background: #fff;
  box-sizing: border-box;
  padding: 24px 0;
  z-index: 1;
}

.website-docs__link {
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 400;
  color: rgba(0,0,0,.66);
  position: relative;
  display: table;
}

.website-docs__page-header {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eee;
}