.android-title {
  color: #6ab344;
}

.android-topnav__drawer-button {
  display: block;
  position: absolute;
  height: 48px;
  width: 48px;
  border: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: 50px;
  margin: 10px 12px;
  top: 0;
  left: 0;
  color: rgb(255,255,255);
  z-index: 4;
  background: transparent;
  color: #767777;
}

.android-header {
  .mdl-layout__header-row {
    padding-left: 80px;
  }
}