{{component (or topnavComponent "website-topnav") 
  title=title 
  links=navLinks
  toggleMenu=(toggle-action "showDrawer" this)}}
{{component (or drawerComponent "website-drawer") 
  title=title 
  navLinks=navLinks 
  footLinks=footLinks
  showDrawer=showDrawer}}
{{#website-content}}
  {{yield}}
  {{component (or footnavComponent "website-footnav") links=(union navLinks footLinks)}}
{{/website-content}}
{{#if showDrawer}}
  <div class="mdl-layout__obfuscator is-visible" {{action (toggle "showDrawer" this)}}></div>
{{/if}}